form.new-tour {
    margin-bottom: 20px;
    margin-top: 10px;
}

.total > td {
    text-align: right;
}

span.title {
    width: 276px;
    display: inline-block;
}

form.table-form > input.table-form-input {
    width: 277px;
    display: inline-block;
}

.admin-hotels-table-item > form.table-form > input.table-form-input {
    width: 230px;
    display: inline-block;
}

.admin-hotels-table-item > form.table-form > select.hotel-stars-input {
    width: 47px;
    display: inline-block;
}
