<div class="row">
  <div class="col-md-12">
    <button ng-click='new()' type="button" class="btn btn-default navbar-btn">Добавить тур</button>
    <form novalidate class='new-tour' ng-show="showNewForm">
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <input ng-model="tour.title" type="text" class="form-control" id="newTourTitle" placeholder="Название тура">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <input ng-model="tour.slug" type="text" class="form-control" id="newTourSlug" placeholder="slug">
          </div>
        </div>
        <div class="col-md-3">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input ng-model="tour.price" type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
            <span class="input-group-addon">.00</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <textarea ng-model="tour.body" type="text" class="form-control" id="newTourBody" placeholder="Описание"></textarea>
      </div>
      <input type="submit" value="Создать" ng-click="create(tour)" class="btn btn-primary">
      <button ng-click="cancelNew(tour)" type="button" class="btn btn-default">Отмена</button>
    </form>

    <ul class='media-list' ng-repeat='tour in tours'>
      <li class="media" ng-show="tour.state != 'edit'">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="http://placehold.it/100x100">
          </a>
        </div>
        <div class="media-body">
          <a ng-href="/#/tours/{{ tour.slug }}">
            <h4 class="media-heading">{{ tour.title }}</h4>
          </a>
          <p>{{ tour.body }}</p>
          <p class='pull-right'>{{ tour.price | currency }}</p>
          <a ng-click='edit($index, tour)' href="/#/" class='btn btn-xs btn-default'>Edit Tour</a>
          <a ng-click='destroy($index)' href="/#/" class='btn btn-xs btn-danger'>Delete Tour</a>
        </div>
      </li>

      <form novalidate class='new-tour' ng-show="tour.state=='edit'">
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <input ng-model="tour.title" type="text" class="form-control" id="newTourTitle" placeholder="Название тура">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <input ng-model="tour.slug" type="text" class="form-control" id="newTourSlug" placeholder="slug">
            </div>
          </div>
          <div class="col-md-3">
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input ng-model="tour.price" type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
              <span class="input-group-addon">.00</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <textarea ng-model="tour.body" type="text" class="form-control" id="newTourBody" placeholder="Описание"></textarea>
        </div>
        <input type="submit" value="Обновить" ng-click="update(tour)" class="btn btn-primary">
        <button ng-click="cancel($index)" type="button" class="btn btn-default">Отмена</button>
      </form>
    </ul>
  </div>
</div>
