<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/#/">
                Tours!
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="admin/tours">Admin Area</a></li>
        </ul>
    </div>
</nav>

<div class="row">
    <div class="col-md-2">
        <button ng-click="vm.changeReverse()" class="btn btn-default">
            Sort by price
            <i ng-show="!vm.sortReverse" class="glyphicon glyphicon-sort-by-order"></i>
            <i ng-show="vm.sortReverse" class="glyphicon glyphicon-sort-by-order-alt"></i>
        </button>
    </div>
    <div class="col-md-10">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <select ng-model="countryFilter.country" class="form-control" id="countryFilter">
                        <option value="">All countries</option>
                        <option ng-repeat="country in vm.countries" value="{{ country.objectId }}">{{ country.title }}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <select ng-model="countryFilter.place" class="form-control" id="placeFilter">
                        <option value="">All places</option>
                        <option ng-repeat="place in vm.places" value="{{ place.objectId }}">{{ place.title }}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <ul class='media-list' ng-repeat="tour in vm.tours | orderBy:'price':vm.sortReverse | filter:{'country': countryFilter.country, 'place': countryFilter.place}">
            <li class="media" ng-show="tour.state != 'edit'">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" ng-src="{{ vm.imagePath(tour) }}" width="100px">
                    </a>
                </div>
                <div class="media-body">
                    <a ng-href="/#/tours/{{ tour.objectId }}">
                        <h4 class="media-heading">{{ tour.title }}</h4>
                    </a>
                    <ul class="info list-inline">
                        <li class="country">
                            <span class="text-muted">Country:</span>
                            {{ vm.countryTitle(tour) }}
                        </li>
                        <li class="place">
                            <span class="text-muted">Place:</span>
                            {{ vm.placeTitle(tour) }}
                        </li>
                        <li class="days">
                            <span class="text-muted">Days:</span>
                            {{ tour.days }}
                        </li>
                    </ul>

                    <p>{{ tour.body | limitTo:150 }}...</p>

                    <p class='pull-right'>{{ tour.price | currency }}</p>
                </div>
            </li>
        </ul>
    </div>
</div>
